body
{
    background-image: url("./res/cover-faded.png");
    background-size: cover;

    background-position: 100% 50%;

    /* font-family:monospace; */
    font-family: Bitend, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

@font-face {
    font-family: Bitend;
    src: url("./res/Bitend DEMO.ttf");
}

hr
{
    border-color: black;
}

#content
{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;

    color: white;
}
